* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

a.btn {
  background-color: #0067b8;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 550;
}

a.btn:hover {
  background-color: #005190;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 5px 8%;
}

header nav {
  display: flex;
  align-items: center;
}

header nav img {
  height: 50%;
  margin-right: 20px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(84, 84, 84);
  padding: 0 0 2px 0;
}

header nav ul li a:hover {
  border-bottom: 3px solid rgb(84, 84, 84);
}

.slide {
  height: 450px;
  background-size: cover;
  background-position: center;
  width: 100%;
}

div#slider .slide:first-child {
  background-image: url("../img/Hero.avif");
}

div#slider .slide article {
  position: relative;
  top: 30%;
  left: 10%;
}

div#slider .slide article h2 {
  font-size: 45px;
  font-weight: normal;
  color: rgb(0, 0, 0);
  width: 40%;
  margin-bottom: 20px;
}

div#slider .slide article p {
  font-size: 16px;
  color: rgb(0, 0, 0);
  width: 40%;
  margin-bottom: 30px;
  line-height: 1.5em;
}

div#slider .slide article a {
  display: block;
  text-decoration: none;
  width: fit-content;
  font-size: 15px;
}

div#slider .slide article a.link {
  color: rgb(0, 81, 144);
  margin: 20px 0;
  border-radius: 5px;
  font-size: 17px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  transition: gap 0.3s ease;
}

div#slider .slide article a.link span:hover {
  text-decoration: underline;
  gap: 15px;
}

div#slider .slide article a.link i {
  transition: transform 0.3s ease;
  text-decoration: none;
}

div#slider .slide article a.link:hover i {
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}

div#products {
  padding: 100px 8%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

div#products section {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  height: 400px;
  width: 24%;
  position: relative;
}

div#products section img {
  width: 100%;
}

div#products section article h2 {
  margin: 20px;
  color: black;
  font-size: 28px;
}

div#products section article p {
  margin: 20px;
  font-size: 15px;
  line-height: 1.7em;
}

div#products section article a {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: fit-content;
}

div#Banner {
  height: 550px;
  padding: 10px 8%;
}

div#Banner section {
  background-image: url("../img/banner.avif");
  height: 100%;
  background-size: cover;
  background-position: center;
}

div#Banner section article {
  position: relative;
  top: 30%;
  left: 10%;
}

div#Banner section article h2 {
  font-size: 37px;
  color: rgb(0, 0, 0);
  width: 30%;
  margin-bottom: 20px;
  font-weight: normal;
}

div#Banner section article p {
  line-height: 1.5em;
  margin-bottom: 20px;
  font-size: 15px;
  width: 30%;
  margin-bottom: 38px;
}

main #products:not(:first-of-type) {
  margin: 30px 0;
  position: relative;
}

main #products:not(:first-of-type) section {
  height: 500px;
}

main #products:not(:first-of-type) span h2 {
  position: absolute;
  top: 45px;
  left: 9.3%;
  font-size: 30px;
}

main .pages {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  left: 10%;
  top: -90px;
}

main .pages h3 {
  padding: 10px 0px;
}

footer {
  background-color: #f2f2f2;
  padding: 40px 8%;
  margin-top: 50px;
}

footer #upper-footer {
  display: flex;
  justify-content: space-around;
}

footer #upper-footer nav h3 {
  margin-bottom: 15px;
  font-size: 16px;
  color: gray;
}

footer #upper-footer nav ul {
  list-style: none;
  line-height: 2.5em;
}

footer #upper-footer nav ul li a {
  color: gray;
  text-decoration: none;
}
footer #upper-footer nav ul li a:hover {
  text-decoration: underline;
  color: rgb(78, 78, 78);
}
footer #lower-footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
footer #lower-footer nav {
  display: flex;
  gap: 20px;
  font-size: 10px;
  font-weight: normal;
}
footer #lower-footer nav h3 a {
  text-decoration: none;
  color: gray;
}
footer #lower-footer nav:first-child h3:not(:last-child) i {
  margin-right: 5px;
}

footer #lower-footer nav h3 a:hover {
  text-decoration: underline;
  color: rgb(78, 78, 78);
}
